# Data Science Tools and Ecossystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Commonly Used Data Science Languages

1. **Python**
2. **R**
3. **SQL**

### Commonly Used Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. **NumPy**
2. **pandas**
3. **scikit-learn**

### Data Science Tools

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Identify commonly used data science libraries
- Understand key data science tools
- Evaluate arithmetic expressions in Python
- Convert units using Python expressions

## Author

Simao Rafique